// -------------------layout部分开始------------------
// layout aside展开时的宽度
$asideOpenWidth:210px;
// layout aside收缩时的宽度
$asideCloseWidth:80px;
//layout header的高度
$headerHeight: 80px;
// -------------------layout部分结束------------------

// ---------侧边栏部分开始----------------------------
//默认背景色
$bgColor: #304156;
//一级菜单hover色
$hoverColor1: #263445;
//二级菜单hover色
$hoverColor2:#001528;
//二级菜单内容背景色
$bgColor2:#1f2d3d;
//选中色
$checkColor: #409EFF;
//----------侧边栏部分结束------------------------------